body {
    font-family: Arial, sans-serif;
    background-image: url('images/stars-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    color: #fff;
  }
.App {
    background: rgb(0, 0, 0, .7);
}

.custom-select {
    position: relative;
    user-select: none;
    width: 200px;        
    color: #d6d6d6;     
}

#menu {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}