body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    color: #fff;
}

.crypto-dropdown {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

#title {
    text-align: center;
    cursor: default;
}
#title:hover {
    color: #d6d6d6;
}

.custom-select {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 200px;             
}

#menu {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #999;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
footer {
    text-align: center;
    color: #ececec;
    cursor: default;
    margin-top: 25px;
}
footer:hover{
    color: #cfcfcf;
}
