.top-gainers {
    text-align: left;
    display: fixed;
    color: #0fd339;
    font-size: larger;
    cursor: default;
  }
  .top-losers {
    text-align: left;
    color: #e41212;
    font-size: larger;
    cursor: default;
  }
  
.top-gainers :hover {
    color: #15b81d;
}
.top-losers :hover {
  color: #cf1818;
}
.top-crypto-list {
    margin-left: -79%;
    margin-top: -42%;
  }
  .crypto-chartss {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }